:root {
  --brown-text: #5f3a15;
  --common-green: #079139;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset CSS *** PS - I will not reset all values because I'm using Bootstrap! */
* {
  font-family: Rubik, sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* changing navbar max-width */
nav.navbar > div.container-fluid {
  max-width: 80%;
}

nav.navbar > div.container-fluid > div#navbarSupportedContent {
  min-width: 60%;
  max-width: 60%;
}

/* setting the top distance for content */
/* div.container-fluid#general-container {
  margin-top: 100px;
} */

/* navbar personalized settings */

#btn-success {
  color: var(--common-green);
  border: 2px solid var(--common-green);
}

#btn-success:hover {
  color: #fff;
  background-color: var(--common-green);
}

ul.navbar-nav > li.nav-item > a.nav-link {
  color: var(--brown-text);
  font-weight: 300;
  transition: 0.5s;
}

/* maximum size of width */

ul.navbar-nav > li.nav-item > a.nav-link:hover {
  background-color: #bebdbd;
  border-radius: 8px;
  color: #fff;
}

div#general-container > div.row#home {
  display: inline-block;
  position: relative;
}

div#general-container > .row#home > img {
  /* z-index: 1; */
  filter: saturate(2.5) brightness(0.6);
}

div#general-container > div.row#home > section {
  position: absolute;
  bottom: 0;
  top: 0;
  height: max-content;
  margin: auto 10%;
  width: 80%;
}

div#general-container > div.row#home > section > h1 {
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1rem;
  text-transform: uppercase;
}

div#general-container > div.row#home > section > button {
  margin-top: 2rem;
}

div#general-container > div.row#condominio {
  /* background-color: blue; */
}

div#general-container > div.row#condominio > div#content {
  /* background-color: red; */
  width: 970px;
  height: 630px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

div#general-container > div.row#condominio > div#content > div#title {
  width: 100%;
  margin-bottom: 5%;
}

div#general-container > div.row#condominio > div#content > div#title > h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #dfb463;
}

div#general-container > div.row#condominio > div#content > div#title > h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--common-green);
}

div#general-container > div.row#condominio > div#content > div#presentation {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
}

div#general-container
  > div.row#condominio
  > div#content
  > div#presentation
  > div {
  margin: auto 0;
  width: 45%;
}

div#general-container
  > div.row#condominio
  > div#content
  > div#presentation
  > iframe#video {
  height: 276px;
  width: 440px;
  border-radius: 10px;
}

div#general-container > div.row#condominio > div#content > div#extra_img {
  display: flex;
  flex-wrap: wrap;
}

div#general-container > div.row#condominio > div#content > div#extra_img > img {
  width: 300px;
}

div#general-container
  > div.row#condominio
  > div#content
  > div#extra_img
  > img
  + img {
  margin-left: 35px;
}

div#location {
  position: relative;
}

div#location > img {
  max-width: 100vw;
  filter: saturate(1.5) brightness(0.2);
}

div#location > div#container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10%;
  width: 80%;
}

div#location > div#container > section#info > h2 {
  color: #ffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

div#location > div#container > section#info > h3 {
  color: #ffff;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

div#location > div#container > section#explanation {
  display: flex;
  justify-content: space-evenly;
}

div#location > div#container > section#explanation > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

div#location > div#container > section#explanation > figure > img {
  width: 100px;
}

div#location > div#container > section#explanation > figure > figcaption > h4 {
  font-size: 1.2rem;
  text-align: center;
  color: #ffff;
}

div#location > div#container > section#explanation > figure > figcaption > p {
  font-size: 1rem;
  text-align: center;
  width: max-content;
  color: #ffff;
}

div#faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

div#faq > section#title-faq {
  background-color: var(--common-green);
  padding: 1rem;
  width: 100vw;
}

div#faq > section#title-faq > h2 {
  color: #ffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
}

div#faq > section#title-faq > h3 {
  color: #ffff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

div#faq > section#content {
  display: flex;
  justify-content: space-between;
  width: 970px;
  align-self: center;
}

div#faq > section#content > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 134px;
}

div#faq > section#content > figure > figcaption > h4 {
  width: max-content;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--common-green);
}

div#faq > section#faq-container {
  width: 770px;
}

div#faq > section#faq-container > h2 {
  background-color: #dfb463;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

div#faq > section#faq-container > dl > dt {
  border: 1px solid #dfb463;
  width: 100%;
  padding: 1rem;
}
